@model QuestionsAndAnswers.ControllersModel.AnswersViewModel

@using QuestionsAndAnswers



@*  Warning block, which show if an invalid vote happened *@
<div class="alert" id="answerwarningdiv" hidden>
    @*  Warning block's close button  *@
    <button type="button" class="close">&times;</button>
    <span id="answerwarning"></span>
</div>


@for (int i = 0; i < Model.Answers.Count(); i++ )
{
    var item=Model.Answers[i];
    <div class="row answerblock">
        <ul class="span2 nav nav-pills">
            <li>
                @*  Warning block, which show if an invalid vote happened *@
                <span class="voteblock"><span class="votenumber">
                    @if (Model.AnswerVotes[item] > 0)
                    {
                        <span id=@item.Id>+@Model.AnswerVotes[item]</span>
                    }
                    else
                    {
                        <span id=@item.Id>@Model.AnswerVotes[item]</span>
                    }
                </span>
                    <br />
                    @Resources.Global.Vote</span>
            </li>
            <li>
                @*  Vote buttons for an answer  *@
                <div class="btn-group btn-group-vertical vote-button-group">
                    <button class="btn btn-success votebutton answerplusvote" type="button" value=@item.Id>
                        +1
                    </button>
                    <button class="btn btn-danger votebutton answerminusvote" type="button" value=@item.Id >-1</button>
                </div>
            </li>
        </ul>
        <div class="span7">
            <div class="row">
                @*  Answer's content  *@
                <div class="span7">
                    @Html.Raw(item.Content)
                </div>
            </div>
            <div class="row">
                <div class="span2">


                    @*  Edit answer button, only shown for the answer's author.  *@
                    @if (Request.IsAuthenticated)
                    {
                        if (WebSecurity.CurrentUserId == item.UserId)
                        {
                        <br />
                            using (Html.BeginForm("EditAnswer", "Home", FormMethod.Get))
                            {
                        @Html.Hidden("actId", item.Id)
                        <input type="submit" class="btn" value=@Resources.Global.Edit>
                            }

                        }
                    }
                </div>
                @*  Answer's author  *@
                <div class="span3 pull-right">
                    <span class="pull-right">@Resources.Global.Answered - @Html.ActionLink(Model.AnswerUser[item].UserName, "GetUser", "Home", new { id = Model.AnswerUser[item].UserId, info = System.Text.RegularExpressions.Regex.Replace(Model.AnswerUser[item].UserName.Replace(" ", "-"), "[^\\p{L}0-9_-]", "") }, null)</span>
                    <br />
                    <span class="pull-right">@MyHelpers.ElapsedTime(item.Date)</span>
                </div>
            </div>
        </div>
    </div>
    if(i<(Model.Answers.Count()-1)){
@*  Separator between the answers  *@
        <div class="row">
            <div class="span9 separator"></div>
        </div>
    }
}

<script type="text/javascript">
    
    // Válasz pozitív szavazat
    $(".answerplusvote").click(function () {
        // Lekérjük, hogy melyik válasznak a szavazatára kattintott a felhasználó, és ez alapján elküldjük a Postot
        var answerid = this.value;

        // A post alapvetően ugyanaz, mint a kérdésnél.
        $.post("/Home/VoteForAnswer", { "answerid": answerid, "vote": 1 },
            function (data) {

                if (isNaN(data)) {
                    $("#answerwarning").text(data);
                    $("#answerwarningdiv").show();
                } else {
                    if (data > 0) {
                        //Annak a szavazásnak átállítjuk az állását, amelyikre érkezett a szavazat
                        $("#" + answerid).text("+" + data);
                    } else {
                        $("#" + answerid).text(data);
                    }
                }
            });
    });

    // Válasz negatív szavazat, ua mint a pozitívnál.
    $(".answerminusvote").click(function () {
        var answerid = this.value;
        $.post("/Home/VoteForAnswer", { "answerid": answerid, "vote": -1 },
            function (data) {
                if (isNaN(data)) {
                    $("#answerwarning").text(data);
                    $("#answerwarningdiv").show();
                } else {
                    if (data > 0) {
                        $("#" + answerid).text("+" + data);
                    } else {
                        $("#" + answerid).text(data);
                    }
                }

            });
    });

    // Ha rákattintott a felhasználó a hibaüzenet X-ére, akkor bezárja azt.
    $(".close").click(function () {
        $(".alert").hide();
    });
</script>