@model IEnumerable<QuestionsAndAnswers.ControllersModel.GetQuestionModel>

@using PagedList;
@using PagedList.Mvc;
<div class="span6">
<h4>@Resources.Global.UserAnsweredQuestions</h4>
    </div>
@foreach (var item in Model)
{
    <div class="span6 questionblock">
        <div class="row">
      <ul class="span2 nav nav-pills">
        <li class="active newvoteblock"><a>
            <span class="votenumber"> 
                @if (item.Vote > 0)
                    {
                        <span>+@item.Vote</span>
                    }
                    else
                    {
                        <span>@item.Vote</span>
                    }
            </span>
            <br />
            @Resources.Global.Vote
            </a>
        </li>
        <li class="active newvoteblock"><a><span class="votenumber">@item.AllAnswersNumber</span><br />@Resources.Global.Answer</a></li>
      </ul>
            <div class="span4">
                <span class="title">@Html.ActionLink(item.CurrentQuestion.Title, "GetQuestion", "Home", new { id = item.CurrentQuestion.Id, info = System.Text.RegularExpressions.Regex.Replace(item.CurrentQuestion.Title.Replace(" ", "-"), "[^\\p{L}0-9_-]", "") }, null)
                </span><br />
                
        @foreach (var tag in item.QuestionTags)
                {
                    <span class="tag">@Html.ActionLink(tag.Name, "Tag", "Home", new { id = tag.Id, info = System.Text.RegularExpressions.Regex.Replace(tag.Name.Replace(" ", "-"), "[^\\p{L}0-9_-]", "") }, null) </span>
                }
                 <span class="pull-right">@Resources.Global.Asked - @Html.ActionLink(item.QuestionUser.UserName, "GetUser", "Home", new { id = item.QuestionUser.UserId, info = System.Text.RegularExpressions.Regex.Replace(item.QuestionUser.UserName.Replace(" ", "-"), "[^\\p{L}0-9_-]", "") }, null)</span>
                <br />
                <span class="pull-right">@QuestionsAndAnswers.MyHelpers.ElapsedTime(item.CurrentQuestion.Date)</span>
            </div>
        </div>
    </div>
    foreach(var answer in item.Answers){
        <div class="span6">
        <blockquote class="answer-quote">
            <p>@Html.Raw(answer.Content)</p>
            <small> @QuestionsAndAnswers.MyHelpers.ElapsedTime(answer.Date)</small>
        </blockquote>
        </div>
    }
    <div class="span6 separator"></div>
}

<div class="span6">
@Html.PagedListPager((IPagedList)ViewBag.QuestionsForPager, answerpage => Url.Action("GetUser", new { id = ViewBag.UserId, answerpage = answerpage, questionpage = ViewBag.AskedQuestionPage }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, LinkToFirstPageFormat = "<< " + Resources.Global.First, LinkToPreviousPageFormat = "< " + Resources.Global.Previous, LinkToNextPageFormat = Resources.Global.Next + " >", LinkToLastPageFormat = Resources.Global.Latest + " >>" })
    </div>
