@model List<QuestionsAndAnswers.ControllersModel.QuestionIndexModel>


@using PagedList;
@using PagedList.Mvc;

<div class="span6">
<h4>@Resources.Global.UserQuestions</h4>
    
    </div>
@foreach (var item in Model)
{
    <div class="span6 questionblock">
        <div class="row">
      <ul class="span2 nav nav-pills">
        <li class="active newvoteblock"><a>
            <span class="votenumber"> 
                @if (item.Vote > 0)
                    {
                        <span>+@item.Vote</span>
                    }
                    else
                    {
                        <span>@item.Vote</span>
                    }
            </span>
            <br />
            @Resources.Global.Vote
            </a>
        </li>
        <li class="active newvoteblock"><a><span class="votenumber">@item.Answers</span><br />@Resources.Global.Answer</a></li>
      </ul>
            <div class="span4">
                <span class="title">@Html.ActionLink(item.Question.Title, "GetQuestion", "Home", new { id = item.Question.Id, info = System.Text.RegularExpressions.Regex.Replace(item.Question.Title.Replace(" ", "-"), "[^\\p{L}0-9_-]", "") }, null)
                </span><br />
                
        @foreach (var tag in item.Tags)
                {
                    <span class="tag">@Html.ActionLink(tag.Name, "Tag", "Home", new { id = tag.Id, info = System.Text.RegularExpressions.Regex.Replace(tag.Name.Replace(" ", "-"), "[^\\p{L}0-9_-]", "") }, null) </span>
                }
                 <span class="pull-right">@Resources.Global.Asked - @Html.ActionLink(item.QuestionUser.UserName, "GetUser", "Home", new { id = item.QuestionUser.UserId, info = System.Text.RegularExpressions.Regex.Replace(item.QuestionUser.UserName.Replace(" ", "-"), "[^\\p{L}0-9_-]", "") }, null)</span>
                <br />
                <span class="pull-right">@QuestionsAndAnswers.MyHelpers.ElapsedTime(item.Question.Date)</span>
            </div>
        </div>
    </div>
    <div class="span6 separator"></div>   
}
<div class="span6">
@Html.PagedListPager((IPagedList)ViewBag.QuestionsForPager, questionpage => Url.Action("GetUser", new { id = ViewBag.UserId, questionpage = questionpage, answerpage = ViewBag.AnsweredQuestionPage }), new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded, LinkToFirstPageFormat = "<< " + Resources.Global.First, LinkToPreviousPageFormat = "< " + Resources.Global.Previous, LinkToNextPageFormat = Resources.Global.Next + " >", LinkToLastPageFormat = Resources.Global.Latest + " >>" })
    </div>