@model QuestionsAndAnswers.Models.LocalPasswordModel

<h3>@Resources.Global.ChangePassword</h3>

@using (Html.BeginForm("Manage", "Account")) {
    //@Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>@Resources.Global.ChangePasswordForm</legend>
        <ol>
            <li>
                @Html.Label(Resources.Global.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.Label(Resources.Global.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" class="btn" value=@Resources.Global.Save />
    </fieldset>
}
