@model QuestionsAndAnswers.Models.LoginModel

@{
    ViewBag.Title = Resources.Global.Login;
}

<div class="row">
    <div class="span12">
        <h1>@Resources.Global.Login</h1>
    </div>
</div>


@*
Discomment this section when using external authentication services. You need to configure them in AuthConfig.cs
<section class="social" id="socialLoginForm">
    <h3>@Resources.Global.ExternalLogin</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

<section id="loginForm">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>@Resources.Global.LoginForm</legend>
            <ol>
                <li>
                    @Html.Label(Resources.Global.Username)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.Label(Resources.Global.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    <div class="editor">
                        <p>
                            @Html.Label(Resources.Global.RememberMe)
                            @Html.CheckBoxFor(m => m.RememberMe)
                        </p>
                        <input type="submit" class="btn btn-info" value=@Resources.Global.Login />
                    </div>
                </li>
            </ol>
        </fieldset>
        <p>
            @Html.ActionLink(Resources.Global.RegisterIfYouHaveNotProfile, "Register")
        </p>
    }
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function () {
            $("#loginurl").addClass("active");
        });
    </script>
}
