@model QuestionsAndAnswers.Models.LocalPasswordModel
@{
    ViewBag.Title = Resources.Global.EditMyProfile;
}



<p>@Resources.Global.YouAreLoggedInWithThisUsername <strong>@User.Identity.Name</strong></p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<h3>@Resources.Global.ChangeEmailOrAddNewEmail</h3>
<b>@Html.ActionLink(Resources.Global.EditEmail,"EmailRegister","Home")</b>

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>@Resources.Global.AddExternalLogin</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section> 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
